body {
    margin: 45px;
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Video berada di belakang konten lainnya */
}


.window {
    /* Warna solid yang tidak terpengaruh oleh body */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    position: fixed;
    color: orange;
}

.profile-card {
    margin-bottom: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid yellow;
}

.profile-name {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
}

.button-container button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 20px;
}

.button-container button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button-container button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.h5 {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    /* Mencegah pengguna mengubah ukuran textarea */
    outline: none;
    /* Hilangkan border fokus */
    font-size: 16px;
}
